.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
  }
  
  .header-text-container {
    flex-basis: 50%;
    padding-left: 3rem;
    padding-right: 2rem;
  }
  
  .header-title {
    font-size: 4.2rem;
    text-align: left;
  }
  
  .header-text {
    margin-top: -1.8rem;
    margin-bottom: 2.8rem;
    opacity: 0.8;
    max-width: 770px;
    text-align: left;
  }
  
  .header-image {
    flex-basis: 50%;
    background: url("../../images/hero.jpg") center/cover no-repeat;
    height: 100%;
    min-height: 75vh;
    margin-right: 2rem;
    padding-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }
  
  @media (max-width: 768px) {
    .header-content {
      flex-direction: column;
    }
  
    .header-text-container, .header-image {
      flex-basis: 100%;
    }
  
    .header-image {
      min-height: 40vh;
      margin-right: 0;
      padding-top: 1rem;
    }
  
    .header-text-container {
      padding-left: 1rem;
    }
  }
  